@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

.centerbangla {
  position: absolute;
  margin: 15vh 40vw;
  height: 40vh;
  width: 20vw;
}
.element {
  display: inline-block;
  background-color: transparent;
  height: 50%;
  width: 50%;
  /* color: white; */
  text-align: center;
  opacity: 1;
  font-family: 'SolaimanLipi', sans-serif;
  border: 5px solid white;
  border-radius: 5px;
}
.element1 {
  display: inline-block;
  background-color: transparent;
  height: 50%;
  width: 50%;
  color: white;
  text-align: center;
  opacity: 1;
  font-family: 'SolaimanLipi', sans-serif;
  border: 5px solid #fff;
}
.element1 h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
  margin-top: 50%;
  transform: translateY(-50%);
}

.one {
  /* transform: rotateY(40deg); */
  transform-origin: center left;
  animation: one 5s infinite;
  animation-direction: alternate;
  background-color: rgb(58, 58, 58);
}
.y2 {
  float: right;
}
.x2 {
  float: right;
}
.y1 {
  position: absolute;
  color: white;
}
.x1 {
  position: absolute;
  z-index: 0;
  margin: 58.5% -50%;
  color: white;
}
.yy2 {
  position: absolute;
  color: white;
}
.xx2 {
  position: absolute;
  color: white;
}

@keyframes one {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(90deg);
  }
}

.second {
  transform-origin: center right;
  animation: second 5s infinite;
  animation-direction: alternate;
  background-color: rgb(58, 58, 58);
}

@keyframes second {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-90deg);
  }
}

.gallery_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery_img img {
  height: 70vh;
  width: 100vw;
  overflow: hidden;
}

.slider {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 45%;

  display: flex;
  z-index: 5;
  width: 300px;
  height: 300px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: white;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: white;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -250px;
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}


@media screen and (min-width: 1920px) {
  .x1 {
    position: absolute;
    z-index: 0;
    margin: 57.5% -50%;
    color: white;
  }
}
@media screen and (max-width: 960px) {
  .slideroverflowcontrol {
    width: 100vw;
    overflow: hidden;
  }
  .gallery_img img {
    height: 60vh;
    width: 20vw;
    overflow: hidden;
  }
  .slider {
    width: 100vw;
    height: 60vh;
    overflow: hidden;
  }
  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: flex;
    z-index: 5;
    width: 100px;
    height: 100px;
    padding: 0;
    margin-left: 0px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    border: none;
    outline: none;
    background: transparent;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    color: white;
    outline: none;
    background: transparent;
  }
  .slick-prev:hover:before,
  .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before {
    opacity: 1;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 1;
  }

  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;

    opacity: 0.75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .slick-prev {
    left: -10px;
  }
  [dir="rtl"] .slick-prev {
    right: -10px;
    left: auto;
  }
  .slick-prev:before {
    content: "←";
  }
  [dir="rtl"] .slick-prev:before {
    content: "→";
  }

  .slick-next {
    right: -10px;
  }
  [dir="rtl"] .slick-next {
    right: auto;
    left: -10px;
  }
  .slick-next:before {
    content: "→";
  }
  [dir="rtl"] .slick-next:before {
    content: "←";
  }
  .gallery1_img img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 50px 20px 50px 20px;
  }
}

