.profile-headcontainer{
    width: 100vw;
    height: 10vh;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.profile-header{
    margin: 2% auto; 
}
.profile-imageheadcontainer{
/* background-color: orange; */
display: flex;
justify-content: center;
}

.profile-imagecontainer, .oldp-container, .oldp-containerm{
    display: flex;
    justify-content: center;
    /* background-color: orangered; */
}
.profile-margin{
    margin:1%;
}
.profile-image{
    margin: 1% 0%;
}

.oldp{
    display: grid;
    margin: 1% 0%;
    width: 25%;
    height: 30%;
}
.oldpm{
    display: grid;
    margin: 1% 0%;
    width: 50%;
    height: 30%;
}
.oldp-container Button{
    width: 12%;
}

.oldp-containerm Button{
    width: 30%;
}

.profile-bottom-div{
    height: 2vh;
}
.profile{
    margin-top: 2vh;
    height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.profile Button{
    width: 10%;
}

.profile-homeland-logo{
    height: auto;
}

#oldpInput{
    margin: 0;
    max-width: 100%;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
}