.online-booking{
    background-image: url("../Login/Building.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250vh;
    position: relative;
}

.online-booking-container{
    border: none;
    width: 50%;
    height: 200vh;
    position: absolute;
    top: 2%;
    left: 5%;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
}
.online-booking-container h1{
    text-align: center;
}

input[type=email], input[type=password], input[type=text] {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 10px;
    padding: 2px;
}
input:focus{
    outline: none;
}
.form-container div{
    margin-top: 2%;
}

#btn{
    height: 20%;
    margin-top: 15%;
    margin-left: -44%;
}

table{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 7%;
    text-align: left;

}

.thead{
    background: rgba(249, 194, 39, 255);
    color: #fff;
}

td{
    border-bottom: 1px solid grey;
}

.amount{
    padding: 5%;
    font-weight: 300;
}
.amount input{
    margin-left: 20px;
    height: 22px;
}

.visa-logo{
    width: 6%;
    border: 2px solid #adb5bd;
    cursor: pointer;
    margin-left: 6px;
}
.visa-logo.selected{
    width: 6%;
    border: 2px solid rgba(249, 194, 39, 255);
    cursor: pointer;
    margin-left: 6px;
}
.payment-method{
    display: flex;
    align-items: center;
}
.payment-method h6{
    font-weight: 300;
    font-size: small;
}

.select-payment button{
    margin-left: 25%;
    margin-top: 5%;
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(249, 194, 39, 255);
    color: #fff;
    font-weight: bold;
    display: block;
}
.select-payment button:hover{
    background: #fca311;
    transition-duration: .2s;
}

.checkbox-container{
    width: 55%;
    height: 150px;
    border: none;
    background: #e5e5e5;
    text-align: center;
    padding: 10px;
}
.checkbox{
    display: flex;
}
.checkbox1{
    
    flex-direction: column;
}