.main-story{
    background-color: #e9ecef;
    width: 100vw;
    height: 100%;
    display: inline-flex;
    overflow: hidden;
}
.vdosize-mob{
    width: 100vw;
    height: 26vh;
    position: relative;
}

.our-story{
    display: grid;
    width: 50vw;
    justify-content: left;
    text-align: center;
    /* padding: 10%; */
    color: #6c757d;
}
.our-story-mob{
    height: 25vh;position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-logo{
    display: block;
    width: 30vw;
    height: 60vh;
    margin: 0px auto;
}
.logoContainer{
    width: 100vw;
    height: 100%;
    background-color: #1e222d;
}
.vdosize{
    width: 70vw;
    /* margin-left: -500px; */
    height: 70vh;
    position: relative;
}
.hundred{
    overflow: hidden;
}

.our-story-content{
    padding: 8% 25%;
}
.our-story-content h2{
    margin: 2% 0% -7% 7%;
    font-size: 2rem;
}
.our-story-content h4{
text-align: center;
}
.text-wrapper1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20vh; */
}
.text-wrapper1 h2, h4{
    text-align: center;
}
.storySlider{
    margin-top: 20vh;
}
.bgblack{
    background-color: black;
    width: 100vw;
}
@media screen and (max-width: 968px) {

.main-logo{
    display: block;
    width: 60vw;
    height: 40vh;
    margin: 0px auto 0px auto;
}
}