.main-story{
    background-color: #e9ecef;
    width: 100vw;
    display: inline-flex;
    overflow: hidden;
}

.our-story{
    display: grid;
    width: 50vw;
    justify-content: left;
    text-align: center;
    /* padding: 10%; */
    color: #6c757d;
}
.main-logo{
    display: block;
    width: 30vw;
    height: 60vh;
    margin: 0px auto;
}
.logoContainer{
    width: 100vw;
    height: 100%;
    background-color: #1e222d;
}
.vdosize{
    width: 70vw;
    /* margin-left: -500px; */
    height: 70vh;
    position: relative;
}
.hundred{
    overflow: hidden;
}

.our-story-content{
    padding: 8% 25%;
}
.our-story-content h2{
    margin: 2% 0% -7% 7%;
    font-size: 2rem;
}

@media screen and (max-width: 968px) {
    .our-story{
    display: flex;
    margin-top: 10vh; 
    color: #6c757d;
}
.vdosize{
    width: 100vw;
    height: 26vh;
    position: relative;
}
.main-logo{
    display: block;
    width: 60vw;
    height: 40vh;
    margin: 0px auto 0px auto;
}
}