@font-face {
  font-family: "Oswald-Regular";
  src: local("Oswald-Regular"),
    url(../../fonts/Oswald-Bold.ttf) format("truetype");
}
.NavbarItems {
  background: rgba(249, 194, 39, 255);
  height: 100%;
  padding: 1% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 900;
  position: relative;
}
.forlink{
  margin: 0%;
  padding: 0%;
  width: 10%;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  width: 56%;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: start;
  margin-left: 6rem;
}
.navfont{
  font-size: 1.5rem;
}

.nav-menu li a {
  font-family: "Oswald-Regular";
}

.nav-links {
  color: #675832;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.nav-links:hover {
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #675832;
  font-size: 2rem;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.login-content button {
  background-color: transparent;
  border: none;
  color: #675832;
  font-weight: 600;
  font-size: 0.8rem;
  font-family: 'Oswald-Regular';
  letter-spacing:.1rem;
  cursor: pointer;
}

.login-content button:hover{
    color: white;
}
.login-content button:focus{
  outline: none;
}

.right-content {
  color: #675832;
  position: absolute;
  right: 15rem;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.right-content h6 {
  font-family: "Oswald-Regular";
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
    background: rgba(249, 194, 39, 255);
    height: 10vh;
    padding: 1% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 900;
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    margin: 0;
  }

  .nav-menu.active {
    background: rgba(249, 194, 39, 255);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    /* margin-top: -17px; */
    z-index: 6;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #675832;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 10vh;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  button {
    display: none;
  }
  .right-content {
    display: none;
  }
}
