:root{
    --primary-color: rgba(249, 194, 39, 255);
    --secondary-color: #000;
    --hover-color: #fca311;
    --background-font-color: #fff;
    --media-background-color: #f8f9fa;
}

.login{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.login-container{
    border: none;
    width: 30%;
    position: absolute;
    top: 15%;
    left: 5%;
    background: var(--background-font-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
}
.login-container h1{
    text-align: center;
}

.form-container{
    padding: 10%;
}

input[type=email],input[type=password] {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    margin-top: 15px;
    padding: 2px;
}
input:focus{
    outline: none;
    border-bottom: 2px solid var(--secondary-color);
    transition-duration: .2s;
}
#psw{
    margin-top: 10px;
}

.button{
    display: block;
    width: 40%;
    height: 30px;
    /* left: 5% */
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    cursor: pointer;
    color: var(--background-font-color);
    font-weight: bold;
    margin: 30px auto 0px auto;
}
.button:focus{
    outline: none;
}
.button:hover{
    background: var(--hover-color);
    transition-duration: .2s;
}


#links{
    margin-top: 15%;
}
#links Link{
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

.otpbutton{
    display: block;
    width: 80%;
    height: 30px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    cursor: pointer;
    color: var(--background-font-color);
    font-weight: bold;
}
.otpbutton:focus{
    outline: none;
}
.otpbutton:hover{
    background: var(--hover-color);
    transition-duration: .2s;
}

@media screen and (max-width: 968px) {
    .login{
        background: none var(--media-background-color);
    }
    .login-container{
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    #btn{
        height: 5vh;
    }
    .button{
        display: block;
        width: 100%;
        height: 5vh;
    }
    .otpbutton{
        margin: 20px auto;
        display: block;
        width: 80%;
        height: 5vh;
    }
}