.project_section1 {
    height: 90vh;
  }
  .building {
    height: 100vh;
    width: 60%;
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
    overflow: auto;
    /* margin: 0 auto; */
    scroll-behavior: smooth;
  }
  /* .building::-webkit-scrollbar {
      display: none;
  } */
  .buildingcontainer {
    width: 100vw;
    /* background-color: blue; */
    /* display:inline-block;
      align-items: center;
      justify-content: center; */
  }
  .buildTuples {
    margin: 1.5vw;
    z-index: 2vh;
  }
  .buildTuples1 div {
    border-radius: 10px;
    transition: transform 0.2s;
  }
  .buildTuples1 div:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .ui.grid {
    margin: 0;
  }
  .building2 {
    height: 100vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .building3 {
    height: 100%;
    width: 30%;
    margin: 20px auto;
    /* background-color: #1e212d; */
  }
  
  .projectheading {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .projectheading h1 {
    font-size: 3rem;
  }
  .lineproject {
    height: 10px;
    width: 20vw;
    border-radius: 20px;
    background-color: goldenrod;
  }
  .projCardContainer {
    height: 20vh;
    width: 100%;
    border-radius: 20px;
    /* margin: 2% 0; */
  }
  .unitscroll {
    height: 62vh;
    overflow: auto;
  }
  .projCardSize {
    width: 80%;
    margin: 0 auto;
  }
  .projCardSize2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .arrowproj {
    height: 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  transition: ease-in-out;
  animation:mymove 1.5s infinite alternate;
    position: relative;
  }
  .arrowproj :hover{
      cursor: pointer;
  }
  .arrowproj img{
      height: 50%;
      width: 50%;
  }
  
  @keyframes mymove {
    0% {
      top: 0px;
    }
    100% {
      top: 20px;
    }
  }
  .widthoftuples{
      /* background-color: greenyellow; */
      width: 25%;
  }
  