.filtercontainer{
    padding: 40px;
}
.projectbg{
overflow: hidden;
width: 100vw;
  background-image: linear-gradient(#ffffff, #e7e6e1);
}
.cardcontainer{
    padding: 4%;
}

.cardsize{
    width: 30vw;
    margin-top: 50px;
    margin-right: 100px;
    position: relative;
    transition: ease-in-out .35s;
}

.cardsize:hover{
    margin-top: 30px;
    transition: ease-in-out .35s;
    margin-right: 100px;
}
.iconselect{
    text-align: center;
    padding-top: 3%;
    font-size: 2rem;color: rgb(126, 126, 126);
}

.cardtoprow{
    font-size: .8rem;
    text-align: center;
    color: goldenrod;
}
.cardtoplabel{
    text-align: center;
    color: black;
}

.cardbottomrow{
    font-size: .7rem;
}
.buttondiv{
    /* height: 25vh; */
    width: 10vw;
    display: block;
    justify-content: center;
    align-items: center;
}
.nextbutton{
    position: relative;
    background: cover;
    height: 5vh;
    width: 10vw;
    border-radius: 5px;border: none;
    box-shadow: 0px 1px 1px black ;
    transition: ease-in .2s;
    background-color: goldenrod;
    color: white;
    font-weight: 900;
}
.nextbutton:focus{
    outline: none;
}
.nextbutton:hover{
    cursor: pointer;
    background-color: white;
    transition: ease-in .2s;
    color: black;
    
}
.projectbottom{
    display: flex;
    margin: 0;
    padding: 0;
    height: 20vh;
    width: 100vw;
}

.nextbutton1{
    position: relative;
    background: cover;
    height: 5vh;
    /* float: left; */
    margin-left: 50%;
    width: 10vw;
    border-radius: 5px;border: none;
    box-shadow: 0px 1px 1px black ;
    transition: ease-in .2s;
    background-color: goldenrod;
    color: white;
    font-weight: 900;
}
.nextbutton1:focus{
    outline: none;
}
.nextbutton1:hover{
    cursor: pointer;
    background-color: white;
    transition: ease-in .2s;
    color: black;
}
.buttondiv1{
    /* height: 25vh; */
    width: 10vw;
    display: block;
    /* justify-content: center;
    align-items: center; */
}