:root{
    --primary-color: rgba(249, 194, 39, 255);
    --secondary-color: #000;
    --hover-color: #fca311;
    --background-font-color: #fff;
    --media-background-color: #f8f9fa;
}

.my-allotment{
    height: 89vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(98,204,35,0.5158438375350141) 35%, rgba(0,212,255,1) 100%);
    position: relative;
    overflow: auto;
}

.my-allotment-container{
    border: none;
    width: 60%;
    height: fit-content;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--background-font-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
}

.allotment-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.table-content{
    padding: 2%;
}

.transfer-button{
    width: 12%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: grey;
    color: var(--background-font-color);
    font-weight: bold;
    display: block;
    margin: 5% 0 10% auto;
    cursor: pointer;
}
.transfer-button:hover{
    background-color: rgb(46, 42, 42);
}

@media screen and (max-width: 968px) {
    .my-allotment{
        background: none;   
    }
    .my-allotment-container{
        top: 0;
        width: 100%;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: none;
    }
    .my-allotment-container h1{
        margin-bottom: 20%;
    }
    
    /* .profile img{
        width: 80px;
    } */

    .allotment-content{
        display: flex;
        flex-direction: column;
    }
    /* .profile{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin-bottom: 10%;
    } */
}