.register{
    background-image: url("../Login/Building.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.register-container{
    border: none;
    width: 25%;
    height: 60%;
    position: absolute;
    top: 15%;
    left: 5%;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
}
.register-container h1{
    text-align: center;
}

.form-container{
    padding: 10%;
}

input[type=email], input[type=password], input[type=text] {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 10px;
    padding: 2px;
}
input:focus{
    outline: none;
}
.form-container div{
    margin-top: 2%;
}
#btn{
    text-align: center;
    margin-top: 15%;
}

.button{
    width: 30%;
    height: 25px;
    border: none;
    border-radius: 5px;
    background: rgba(249, 194, 39, 255);
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}
.button:focus{
    outline: none;
}
.button:hover{
    background: #fca311;
    transition-duration: .2s;
}

@media screen and (max-width: 968px) {
    .register{
        background: none #f8f9fa;
    }

    .register-container{
        width: 80%;
        height: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    #btn{
        height: 5vh;
    }
    .button{
        display: block;
        width: 100%;
        height: 5vh;
    }
}
/* @media screen and (max-width: 1024px) {
    .register-container{
        width: 80%;
        height: 60%;
        left: 50%;
        transform: translateX(-50%);
    }
    .form-container div{
        font-size: 1.6rem;
    }
    .button{
        display: block;
        width: 100%;
        height: 5vh;
    }
} */